 <div class="header">
  <div class="left-header">
    <h1>CRM</h1>
  </div>
  <div class="right-header">
      <nav>
        <a [routerLink]="['recharge']" routerLinkActive="router-link-active">
          Recharge
        </a>
        <a [routerLink]="['customerregister']" routerLinkActive="router-link-active">
          Register Customer
        </a>
        <a [routerLink]="['status']" routerLinkActive="router-link-active">
          Status Tracking
        </a>
    </nav>
  </div>
 </div>



 

<router-outlet></router-outlet>
