<div class="parent">
    <div class="container">
        <div class="login-box shadow p-3 mb-5 bg-body-tertiary rounded-5 mt-4 pt-4">
            <h2 style="color: #0b0b0b;">Login</h2>
            <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                <div class="input-box">
                    <input type="text" name="username" [(ngModel)]="loginObj.username" required />
                    <label style="color: black;">UserName</label>
                </div>
                <div class="input-box">
                    <input type="password" name="password" [(ngModel)]="loginObj.password" required />
                    <label style="color: black;">Password</label>
                </div>
                <div class="forgot-pass">
                    <a routerLink="/forgot-password" style="color: black;">Forgot your password?</a>
                </div>
                <button class="btn" type="submit" style="color:  #0d47a1;">
                    <h4 style="color: white;"> Login</h4>
                </button>
            </form>
        </div>
    </div>
</div>