.container{
  background-color: #f3f6fc;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;

}

.card{
  padding-left: 10px;
  border: 3px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 0px black;
  transition: 0.5s;
  background-color: #f3f6fc;
}

.card:hover{
  transform: translateY(-8px);
}

.top{
  display: flex;
  justify-content: space-between;
}
.top-left{
  padding: 10px;
}

.top-right{
  padding: 10px;
}

.bottom{
  display: flex;
}
.bottom-left{
  padding-left: 8px;
}

.bottom-right{
  padding: 10px;
  margin-top: 120px;
}

.button{
  height: 60px;
  width: 100px;
  border: 30px;
  border-color: black;
  border-radius: 10px;
  background-color: #002147 ;
  color: #ffff;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}

.button:hover{
  font-size: 25px;
  font-weight: 1000;
  transform: translateY(-10px);
  box-shadow: 3px 3px 8px 0px black;
}